<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="start-box">
        <h2>Welcome!</h2>
        <p>Welcome to Fast Lane Car Rental, your ultimate destination for hassle-free car rentals, where convenience meets quality service.</p>
        <button class="register-submit-btn" asp-controller="Car" asp-action="All">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Get Started
        </button>
    </div>
</body>
    </html>