@using CarRental.Models.Comment
@model CommentFormModel
<body style="background: linear-gradient(#1f6bc0, #0b1c3f);color:white;">
	<h1 style="font-weight:800;color:white;margin-left:20px;">Add a review</h1>
	<partial name="_CommentFormPartial" model="@Model" />
	</body>
	@section Scripts
 {
		<partial name="_ValidationScriptsPartial" />
	}

