@using CarRental.Models.Comment
@model CommentFormModel
<h2 style="margin-left:20px;">Edit a review</h2>
<partial name="_CommentFormPartial" model="@Model" />

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}
