@using CarRental.Models.Car
@model List<CarAllViewModel>

<body style="overflow-y: auto;overflow-x: hidden;">
<style>
    .btn.btn-primary.disabled.ms-2 {
        display: none;
    }

    .btn.btn-primary.disabled.me-2 {
        display: none;
    }

    .card-img-top {
        object-fit: cover;
        height: 312px;
    }
</style>

@if (!Model.Any())
{
	<h2 class="text-center">You don't have any cars yet!</h2>
}
else
{
	<div class="row m-0">
		@foreach (CarAllViewModel car in Model)
		{
			<partial name="_CarPartial" model="car" />
		}
	</div>
}

<link href="~/css/AllCars.css" rel="stylesheet" />
</body>

