@using CarRental.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rent Confirmation</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body style="overflow-y: auto;">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>​
    <div class="login-box" style="align-content:center;">
        <h2 style="color: white; text-align: center; font-weight: bold;">Congratulations!</h2>
        <form>
            <div class="alert alert-success mt-3" role="alert" style="text-align:center; background-color:#11345b; color:white;border:3px solid #03e9f4;margin-bottom:30px;">
                You have successfully rented the car. Your change is: <b>@TempData["Change"]</b> BGN
            </div>
            <button class="login-submit-btn" asp-controller="Car" asp-action="Mine" asp-route-id="@Model.CarId" type="submit" style="display: block; margin: 0 auto;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                OK
            </button>
        </form>
    </div>

</body>
</html>
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}