@using CarRental.Extensions
<div class="alert alert-success mt-3" role="alert">
    You have successfully rented the car. Your change is: <b>@TempData["Change"]</b> BGN
</div>
<div class="d-flex flex-row justify-content-center align-items-center">
<a asp-controller="Car" asp-action="Mine" asp-route-id="@Model.CarId" class="btn btn-danger btn-sm-custom ml-2" style="margin:1rem;font-weight: 800; font-size: 20px;padding: 10px 20px;background:#1f6bc0;color:white;border: 3px solid rgba(0, 0, 0, .125);">OK</a>
</div>
