@model LoginViewModel​

@{
    ViewData["Title"] = "Log in";
}
<body style="overflow-y: auto;">
<div asp-validation-summary="ModelOnly" class="text-danger" style="margin-top:30px;"></div>​

<div class="login-box">
  <h2>Login</h2>
  <form asp-area="" asp-controller="User" method="post">
    <div class="user-box">
                    <input asp-for="@Model.UserName" class="form-control"style="margin-bottom:10px;" autocomplete="username" aria-required="true" />​
       <label asp-for="@Model.UserName" class="form-label"></label>​
                    <span asp-validation-for="UserName" class="text-danger"></span>​
    </div>
    <div class="user-box">
        <input asp-for="@Model.Password" type="password" class="form-control"style="margin-bottom:auto;margin-top:20px;" autocomplete="current-password" aria-required="true" />​
      <label asp-for="@Model.Password" class="form-label"></label>​
        <span asp-validation-for="Password" class="text-danger"></span>​
    </div>
     <div>
            <a href="/User/Register" style="color: white; font-weight: 700; text-decoration: none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Don't have an account?</a>
        </div>
    <button class="login-submit-btn" type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>
<link href="~/css/login.css" rel="stylesheet" />
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
